@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  min-height: 100%;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  /* fallback color */
  background: #f0f4ff;
  /* gradient is also handled via Tailwind in layout, but ensure for FOUC */
}
